---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'bootstrap-custom'; // variables for bootstrap

h1,
.h1 {
  text-align: center;
}

section,
footer {
  padding: 2em 0;
}

.icon {
  svg {
    width: 1.5em;
  }
}

.hero {
  background-image: url('../images/hero_main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    max-height: 30vh;
  }
}

body > footer,
.jumbotron {
  background-color: $brand-primary;
}
