---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'bootstrap-custom'; // variables for bootstrap

h1,
.h1 {
  text-align: center;
}

main {
  h1,
  .h1 {
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.7;
  }
}

section,
footer {
  padding: 2em 0;
}

footer {
  margin-top: 2rem;

  a {
    color: $navbar-light-color;

    &:focus,
    &:hover {
      color: $navbar-light-hover-color;
      text-decoration: none;
    }
  }
}

.icon {
  svg {
    width: 1.5em;
  }
}

.hero {
  background-image: url('../images/hero_main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  img {
    max-height: 30vh;
  }
}

.username {
  vertical-align: top;
}
