<footer class="container-fluid">
  <div class="row">
    <div class="col-sm col-xs-12">
      <ul class="list-unstyled">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="{{ " /feed.xml " | prepend: site.baseurl }}">RSS</a></li>
      </ul>
    </div>
    <div class="col-sm col-xs-12">
      <ul class="list-unstyled">
        {% if site.facebook.username %}
        <li>
          {% include icon-facebook.html username=site.facebook.username %}
        </li>
        {% endif %}
        {% if site.twitter.username %}
        <li>
          {% include icon-twitter.html username=site.twitter.username %}
        </li>
        {% endif %}
        {% if site.instagram.username %}
        <li>
          {% include icon-instagram.html username=site.instagram.username %}
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-sm col-xs-12">
      <p>{{ site.excerpt }}</p>
    </div>
  </div>
</footer>
