<div class="row card-list mt-4">
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.yosa.fi">Bioferme</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/yosa.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.turku.fi">Turun kaupunki</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/turku.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://vg-wok.com">VG-Wok ravintolat</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/vg-wok.png" alt="">
    </div>
  </div>
</div>
