<div class="row card-list mt-4">
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.kaskis.fi">Kaskis</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/kaskis.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.ravintolakuori.fi">Ravintola Kuori</a></h3>
      </div>
      <img class="card-img-bottom img-fluid inverted" src="/images/logo/kuori.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.pinella.fi">Pinella</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/pinella.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.sushipanda.fi">Panda Sushi</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/pandasushi.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.ravintolateini.fi/gastropub-loyto/">Gastropub Löytö</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/loyto.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.lavictoria.fi">La Victoria</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/la-victoria.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://leipomogryn.fi">Leipomo Gryn</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/gryn.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.ravintolakaru.fi">Karu Izakaya</a></h3>
      </div>
      <img class="card-img-bottom img-fluid inverted" src="/images/logo/karu.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://vanak.fi">Vänäk</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/vanak.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.smoothit.fi">Smooth It!</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/smoothit.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://kembuz.com">Kembuz Cafe</a></h3>
      </div>
      <img class="card-img-bottom img-fluid inverted" src="/images/logo/kembuzcafe.png" alt="">
    </div>
  </div>
</div>
