<div class="row card-list mt-4">
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.yosa.fi">Bioferme</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/yosa.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.ravintolakuori.fi">Ravintola Kuori</a></h3>
      </div>
      <img class="card-img-bottom img-fluid inverted" src="/images/logo/kuori.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.rootskitchen.fi">Roots Kitchen</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/roots.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.facebook.com/Tikitak.ravintola">Tikitak</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/tikitak.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.facebook.com/goodsastruck/">Good Sås</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/goodsas.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.facebook.com/cafeketunleipa/">Cafe Ketunleipä</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/ketunleipa.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://tresrestaurant.net">Tres Restaurant</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/tres.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.ravintolakaru.fi">Karu Izakaya</a></h3>
      </div>
      <img class="card-img-bottom img-fluid inverted" src="/images/logo/karu.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.woodandfire.fi">Wood and fire pizza </a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/wood-and-fire.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.facebook.com/vegaaniruoanrakastajat/">Lucky Vegan</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/lucky-vegan.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://turkukahvilla.fi">Turku Kahvilla</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/turkukahvilla.svg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://www.fafas.fi">Fafas</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/fafas.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://lattecafe.biz">Latte cafe</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/cafelatte.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.facebook.com/Shams-Falafelit-589293551280635/">Shams-falafelit</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/shams-falafel.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title">Ho Dai</h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/default.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://www.facebook.com/Sushigalleria/">Sushigalleria Len’s</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/sushigalleria-lens.jpg" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="https://oikeuttaelaimille.fi">Oikeutta eläimille</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/oikeutta-elaimille.png" alt="">
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card text-center rounded card-outline-info mb-3">
      <div class="card-block">
        <h3 class="card-title"><a href="http://animalia.fi">Animalia</a></h3>
      </div>
      <img class="card-img-bottom img-fluid" src="/images/logo/animalia.png" alt="">
    </div>
  </div>
</div>
