<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Vegånia ruokatori perjantai",
  "startDate": "2017-08-04T15:00+03:00",
  "location": {
    "@type": "Place",
    "name": "Turku, Vanha Suurtori",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Vanha Suurtori 3",
      "addressLocality": "Turku",
      "postalCode": "20101",
      "addressCountry": "FI"
    }
  },
  "description": "Ruokatorin avajaispäivä.",
  "endDate": "2017-08-04T23:00+03:00",
  "isAccessibleForFree": true
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Vegånia ruokatori lauantai",
  "startDate": "2017-08-05T12:00+03:00",
  "location": {
    "@type": "Place",
    "name": "Turku, Vanha Suurtori",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Vanha Suurtori 3",
      "addressLocality": "Turku",
      "postalCode": "20101",
      "addressCountry": "FI"
    }
  },
  "description": "Ruokatorin toinen päivä.",
  "endDate": "2017-08-05T24:00+03:00",
  "isAccessibleForFree": true
}
</script>
